<h2>Web Audio API</h2>
<div class="stage">
    <svg class="stage-prop" version="1.1" viewBox="0 0 400 240">
        <rect fill="none" height="238" stroke="#E73B15" stroke-linejoin="round" stroke-width="2" width="398" x="1" y="1"></rect>
        <text alignment-baseline="central" class="label" dominant-baseline="mathematical" fill="#F2F2F8" text-anchor="middle" x="200" y="20">AudioContext</text>

        <polygon fill="none" points="40,40 180,40 180,80 120,80 110,90 100,80 40,80" stroke="#E73B15" stroke-linejoin="round" stroke-width="2"></polygon>
        <text alignment-baseline="central" class="label" dominant-baseline="mathematical" fill="#F2F2F8" text-anchor="middle" x="110" y="60">OscillatorNode</text>
        <polyline fill="none" points="110,90 110,180 200,180 200,200" stroke="#E73B15" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></polyline>

        <rect fill="none" height="40" stroke="#E73B15" stroke-linejoin="round" stroke-width="2" width="200" x="100" y="200"></rect>
        <text alignment-baseline="central" class="label" dominant-baseline="mathematical" fill="#F2F2F8" text-anchor="middle" x="200" y="220">AudioDestinationNode</text>
    </svg>
</div>
