<h2>Audio Element</h2>
<adc-prism language="html" ngPreserveWhitespaces><!-- htmlmin:ignore -->&lt;audio controls src="file.mp3"&gt;&lt;/audio&gt;<!-- htmlmin:ignore --></adc-prism>
<ul>
    <li>provides controls</li>
</ul>
<div class="stage">
    <svg class="stage-prop" version="1.1" viewBox="0 0 300 50">
        <path d="M25,1h250a24,24,180,0,1,0,48h-250a24,24,180,0,1,0-48z" fill="none" stroke="#F2F2F8" stroke-width="2"></path>
        <polygon fill="#F2F2F8" points="21,11 39,25 21,39" stroke="#F2F2F8" stroke-linejoin="round" stroke-width="2"></polygon>
        <rect fill="#F2F2F8" height="2" stroke="#F2F2F8" stroke-linejoin="round" stroke-width="20" width="180" x="60" y="24"></rect>
        <circle cx="61" cy="25" fill="#0D0B25" r="5"></circle>
        <polygon fill="#F2F2F8" points="261,20 269,20 279,11 279,39 269,30 261,30" stroke="#F2F2F8" stroke-linejoin="round" stroke-width="2"></polygon>
    </svg>
</div>
