<h2>Step sequencer</h2>
<div class="stage">
    <svg class="stage-prop" [ngClass]="stepClass$ | async" version="1.1" viewBox="0 0 390 190">
        <rect class="active pad" fill="#0D0B25" height="38" stroke="#0D0B25" stroke-linejoin="round" stroke-width="2" width="38" x="1" y="1"></rect>
        <rect class="pad" fill="#0D0B25" height="38" stroke="#0D0B25" stroke-linejoin="round" stroke-width="2" width="38" x="51" y="1"></rect>
        <rect class="pad" fill="#0D0B25" height="38" stroke="#0D0B25" stroke-linejoin="round" stroke-width="2" width="38" x="101" y="1"></rect>
        <rect class="pad" fill="#0D0B25" height="38" stroke="#0D0B25" stroke-linejoin="round" stroke-width="2" width="38" x="151" y="1"></rect>
        <rect class="pad" fill="#0D0B25" height="38" stroke="#0D0B25" stroke-linejoin="round" stroke-width="2" width="38" x="201" y="1"></rect>
        <rect class="pad" fill="#0D0B25" height="38" stroke="#0D0B25" stroke-linejoin="round" stroke-width="2" width="38" x="251" y="1"></rect>
        <rect class="active pad" fill="#0D0B25" height="38" stroke="#0D0B25" stroke-linejoin="round" stroke-width="2" width="38" x="301" y="1"></rect>
        <rect class="pad" fill="#0D0B25" height="38" stroke="#0D0B25" stroke-linejoin="round" stroke-width="2" width="38" x="351" y="1"></rect>

        <rect class="pad" fill="#0D0B25" height="38" stroke="#0D0B25" stroke-linejoin="round" stroke-width="2" width="38" x="1" y="51"></rect>
        <rect class="active pad" fill="#0D0B25" height="38" stroke="#0D0B25" stroke-linejoin="round" stroke-width="2" width="38" x="51" y="51"></rect>
        <rect class="active pad" fill="#0D0B25" height="38" stroke="#0D0B25" stroke-linejoin="round" stroke-width="2" width="38" x="101" y="51"></rect>
        <rect class="pad" fill="#0D0B25" height="38" stroke="#0D0B25" stroke-linejoin="round" stroke-width="2" width="38" x="151" y="51"></rect>
        <rect class="pad" fill="#0D0B25" height="38" stroke="#0D0B25" stroke-linejoin="round" stroke-width="2" width="38" x="201" y="51"></rect>
        <rect class="active pad" fill="#0D0B25" height="38" stroke="#0D0B25" stroke-linejoin="round" stroke-width="2" width="38" x="251" y="51"></rect>
        <rect class="active pad" fill="#0D0B25" height="38" stroke="#0D0B25" stroke-linejoin="round" stroke-width="2" width="38" x="301" y="51"></rect>
        <rect class="pad" fill="#0D0B25" height="38" stroke="#0D0B25" stroke-linejoin="round" stroke-width="2" width="38" x="351" y="51"></rect>

        <rect class="active pad" fill="#0D0B25" height="38" stroke="#0D0B25" stroke-linejoin="round" stroke-width="2" width="38" x="1" y="101"></rect>
        <rect class="pad" fill="#0D0B25" height="38" stroke="#0D0B25" stroke-linejoin="round" stroke-width="2" width="38" x="51" y="101"></rect>
        <rect class="active pad" fill="#0D0B25" height="38" stroke="#0D0B25" stroke-linejoin="round" stroke-width="2" width="38" x="101" y="101"></rect>
        <rect class="pad" fill="#0D0B25" height="38" stroke="#0D0B25" stroke-linejoin="round" stroke-width="2" width="38" x="151" y="101"></rect>
        <rect class="active pad" fill="#0D0B25" height="38" stroke="#0D0B25" stroke-linejoin="round" stroke-width="2" width="38" x="201" y="101"></rect>
        <rect class="pad" fill="#0D0B25" height="38" stroke="#0D0B25" stroke-linejoin="round" stroke-width="2" width="38" x="251" y="101"></rect>
        <rect class="active pad" fill="#0D0B25" height="38" stroke="#0D0B25" stroke-linejoin="round" stroke-width="2" width="38" x="301" y="101"></rect>
        <rect class="pad" fill="#0D0B25" height="38" stroke="#0D0B25" stroke-linejoin="round" stroke-width="2" width="38" x="351" y="101"></rect>

        <rect class="pad" fill="#0D0B25" height="38" stroke="#0D0B25" stroke-linejoin="round" stroke-width="2" width="38" x="1" y="151"></rect>
        <rect class="active pad" fill="#0D0B25" height="38" stroke="#0D0B25" stroke-linejoin="round" stroke-width="2" width="38" x="51" y="151"></rect>
        <rect class="pad" fill="#0D0B25" height="38" stroke="#0D0B25" stroke-linejoin="round" stroke-width="2" width="38" x="101" y="151"></rect>
        <rect class="active pad" fill="#0D0B25" height="38" stroke="#0D0B25" stroke-linejoin="round" stroke-width="2" width="38" x="151" y="151"></rect>
        <rect class="pad" fill="#0D0B25" height="38" stroke="#0D0B25" stroke-linejoin="round" stroke-width="2" width="38" x="201" y="151"></rect>
        <rect class="active pad" fill="#0D0B25" height="38" stroke="#0D0B25" stroke-linejoin="round" stroke-width="2" width="38" x="251" y="151"></rect>
        <rect class="pad" fill="#0D0B25" height="38" stroke="#0D0B25" stroke-linejoin="round" stroke-width="2" width="38" x="301" y="151"></rect>
        <rect class="active pad" fill="#0D0B25" height="38" stroke="#0D0B25" stroke-linejoin="round" stroke-width="2" width="38" x="351" y="151"></rect>
    </svg>
</div>
