<h2>... and many many more</h2>
<ul>
    <li><a href="https://webaudio.github.io/web-midi-api">Web MIDI API</a></li>
    <li><a href="https://w3c.github.io/webrtc-pc">WebRTC</a></li>
    <li><a href="https://w3c.github.io/mediasession">Media Session Standard</a></li>
    <li><a href="https://webtiming.github.io/timingobject">Timing Object</a></li>
    <li><a href="https://w3c.github.io/mediacapture-main">Media Capture and Streams</a></li>
    <li><a href="https://w3c.github.io/mediacapture-record">MediaStream Recording</a></li>
    <li><a href="https://github.com/WICG/web-codecs/blob/master/explainer.md">WebCodecs</a></li>
    <li><a href="https://wicg.github.io/speech-api">Web Speech API</a></li>
</ul>
