<h2>AudioWorklet</h2>
<ul>
    <li>allows to define custom AudioNodes</li>
    <li>works with Web Assembly code</li>
    <li>only available in Chrome right now</li>
    <li><a href="https://github.com/jariseon/audioworklet-polyfill">jariseon/audioworklet-polyfill</a></li>
    <li><a href="https://github.com/GoogleChromeLabs/audioworklet-polyfill">GoogleChromeLabs/audioworklet-polyfill</a></li>
    <li><a href="https://github.com/chrisguttandin/standardized-audio-context">standardized-audio-context</a></li>
</ul>
