<h2>Synthesizer</h2>
<div class="stage">
    <svg class="stage-prop" version="1.1" viewBox="0 0 348 240">
        <rect fill="#F2F2F8" height="148" stroke="#F2F2F8" stroke-linejoin="round" stroke-width="2" width="46" x="1" y="1"></rect>
        <rect fill="#F2F2F8" height="148" stroke="#F2F2F8" stroke-linejoin="round" stroke-width="2" width="46" x="51" y="1"></rect>
        <rect fill="#F2F2F8" height="148" stroke="#F2F2F8" stroke-linejoin="round" stroke-width="2" width="46" x="101" y="1"></rect>
        <rect fill="#F2F2F8" height="148" stroke="#F2F2F8" stroke-linejoin="round" stroke-width="2" width="46" x="151" y="1"></rect>
        <rect fill="#F2F2F8" height="148" stroke="#F2F2F8" stroke-linejoin="round" stroke-width="2" width="46" x="201" y="1"></rect>
        <rect fill="#F2F2F8" height="148" stroke="#F2F2F8" stroke-linejoin="round" stroke-width="2" width="46" x="251" y="1"></rect>
        <rect fill="#F2F2F8" height="148" stroke="#F2F2F8" stroke-linejoin="round" stroke-width="2" width="46" x="301" y="1"></rect>

        <rect fill="#0D0B25" height="88" stroke="#0D0B25" stroke-linejoin="round" stroke-width="2" width="38" x="30" y="0"></rect>
        <rect fill="#0D0B25" height="88" stroke="#0D0B25" stroke-linejoin="round" stroke-width="2" width="38" x="80" y="0"></rect>
        <rect fill="#0D0B25" height="88" stroke="#0D0B25" stroke-linejoin="round" stroke-width="2" width="38" x="180" y="0"></rect>
        <rect fill="#0D0B25" height="88" stroke="#0D0B25" stroke-linejoin="round" stroke-width="2" width="38" x="230" y="0"></rect>
        <rect fill="#0D0B25" height="88" stroke="#0D0B25" stroke-linejoin="round" stroke-width="2" width="38" x="280" y="0"></rect>
    </svg>
</div>
